---
import { Image } from 'astro:assets';

import BaseLayout from '@/layouts/BaseLayout.astro';

import CaseFooter from '@/components/CaseFooter.astro';
import ArrowRightIcon from '@/components/icons/ArrowRightIcon.astro';

import img_1 from '@/assets/case-5/img_1.png';
import img_2 from '@/assets/case-5/img_2.png';
import img_3 from '@/assets/case-5/img_3.png';
import img_4 from '@/assets/case-5/img_4.png';
import img_5 from '@/assets/case-5/img_5.png';
import img_6 from '@/assets/case-5/img_6.png';
import img_7 from '@/assets/case-5/img_7.png';
---

<BaseLayout>
  <section class="max-mobile:pt-9 pt-32">
    <div class="mx-auto max-w-184">
      <a class="btn-brand" href="/">к проектам</a>

      <div class="max-mobile:my-6 my-12">
        <h1>Личный кабинет пациента</h1>
      </div>

      <h4 class="mb-3">
        Модуль для Института ревматологии, через который обеспечивается
        коммуникация пациентов с администраторами и врачами. Основная задача
        личного кабинета заключается в том, чтобы сделать доступным приём
        для пациентов из регионов.
      </h4>
      <h4>
        Личный кабинет имеет много сценариев, я рассматриваю в рамках кейса
        флоу, который позволяет пациенту дистанционно получить описание
        и интерпретацию снимков КТ/МРТ.
      </h4>
    </div>

    <Image
      src={img_1}
      alt="Кейс"
      class="max-mobile:my-6 my-12 w-full object-contain"
    />

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mb-2 mb-6">Цель</h3>

      <h4>
        Оптимизация пользовательского пути получения дистанционного медицинского
        заключения по снимкам МРТ, КТ, рентгенограмм.
      </h4>
    </div>

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mt-6 max-mobile:mb-2 mt-12 mb-6">Что я сделала</h3>

      <ul class="flex flex-col gap-2">
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Проанализировала текущий сценарий получения услуги «Интерпретация
            рентгенологического исследования»
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">Провела UX-тест текущего интерфейса</p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Выявила ключевые проблемы пользователей на пути до получения мнения
            врача по снимкам
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Спроектировала решения, направленные на улучшение пользовательского
            опыта
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">Протестировала прототип на пользователях</p>
        </li>
      </ul>
    </div>

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mt-6 max-mobile:mb-2 mt-12 mb-6">Ограничения</h3>

      <p class="text-default">
        На момент проведения исследования связь с организацией прервалась,
        поэтому гипотезы я выдвигаю на основании отзывов из открытых источников,
        опыта, полученного в течение работы над корпоративным сайтом и UX-тестов
        с ограниченным количеством людей, без централизованный опросов
        через официальный сайт.
      </p>
    </div>

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mt-6 max-mobile:mb-2 mt-12 mb-6">
        Критерии успеха
      </h3>

      <p class="text-default">
        Исследование можно считать успешным, если по его итогам удастся понять,
        на каких этапах текущего сценария пользователь может сталкиваться
        с трудностями: при поиске нужной услуги, выборе подходящего варианта,
        загрузке снимков и документов, отправке заявки и дальнейшем отслеживании
        её статуса.
      </p>
    </div>

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mt-6 mt-12">As-is</h3>
    </div>

    <Image
      src={img_2}
      alt="Кейс"
      class="max-mobile:mb-6 max-mobile:mt-2 mt-6 mb-12 w-full object-contain"
    />

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mt-6 max-mobile:mb-2 mt-12 mb-6">
        Сбор обратной связи в открытых источниках
      </h3>

      <p class="text-default">
        Я проанализировала более 200 отзывов на Яндекс картах, 2GIS и других
        сайтах.
      </p>

      <Image
        src={img_3}
        alt="Кейс"
        class="max-mobile:my-2 my-6 w-full object-contain"
      />

      <p class="text-default mb-2">и вот какие инсайты получила:</p>

      <ul class="flex flex-col gap-2">
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Пользователи путаются уже на первых шагах и испытывают негативные
            эмоции, потому что не знают как закрыть свою задачу.
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Пациенты не понимают в каком формате загружать документы на сайт,
            критерии разнятся в разных источниках.
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            У части пользователей возникает ощущение потери контроля
            после закрытия обращения. Не понятно в каком состоянии система.
          </p>
        </li>
      </ul>
    </div>

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mt-6 max-mobile:mb-2 mt-12 mb-6">UX-тест</h3>

      <p class="text-default max-mobile:mb-2 mb-6">
        Чтобы понять на каком именно шаге пользователи впадают в ступор,
        я проверила как пользователи взаимодействуют с интерфейсом.
      </p>

      <p class="text-default mb-2">Задача для респондентов исследования:</p>
      <ul class="flex flex-col gap-2">
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Представьте, что у вас есть снимки МРТ/КТ, и вам нужно получить
            дистанционно заключение от врача. Как вы это сделаете? Комментируйте
            вслух, что вы думаете и почему нажимаете туда или сюда.
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Перед тем как продолжить, посмотрите страницу и скажите, какие
            файлы, по вашему мнению, нужно подготовить для заявки. Попробуйте
            загрузить файл.
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Попробуйте загрузить файл. Комментируйте вслух, что вы думаете
            и почему нажимаете туда или сюда.
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Попробуйте загрузить дополнительный файл. Комментируйте вслух,
            что вы думаете и почему нажимаете туда или сюда.
          </p>
        </li>
      </ul>

      <p class="text-default max-mobile:mt-2 mt-6 mb-2">
        Провела 5 UX-тестов и вот какие инсайты получила:
      </p>
      <ul class="flex flex-col gap-2">
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Пользователи путают два пункта
            <span class="font-semibold">
              «Дистанционная консультация по медицинским документам
              (без видеосеанса с врачом)»
            </span> и 
            <span class="font-semibold">
              «Описание и интерпретация рентгенологических снимков, КТ/МРТ»
            </span>
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Пользователи смогли загрузить файл только прочитав инструкцию
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            При загрузке файла не понятно, загрузился ли он
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            При загрузке других документов возникает ощущение, что новый файл
            заменит предыдущий
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Возникло непонимание, почему нужно выбирать услугу несколько раз
          </p>
        </li>
      </ul>
    </div>

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mt-6 mt-12">Анализ конкурентов</h3>
    </div>

    <Image
      src={img_4}
      alt="Кейс"
      class="max-mobile:mb-6 max-mobile:mt-2 mt-6 mb-12 w-full object-contain"
    />

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mt-6 max-mobile:mb-2 mt-12 mb-6">СJM</h3>

      <p class="mb-2 font-semibold">
        Почему именно этот сегмент выбран в качестве приоритетного:
      </p>

      <ul class="flex flex-col gap-2">
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            <span class="font-semibold">Высокая болезненность сценария: </span>
            региональные пациенты иногда физически не могут приехать из региона в связи
            с заболеваниями. Возможность получения заключения дистанционно для них критически
            важно. Любые барьеры интерфейса, неясные инструкции или технические проблемы
            приводят к сильному стрессу,
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            <span class="font-semibold">Стратегическая цель: </span>
            организация развивает телемедицину и удалённые сервисы, а также улучшает
            процессы чтобы расширить область обслуживания пациентов.
          </p>
        </li>
      </ul>
    </div>

    <Image
      src={img_5}
      alt="Кейс"
      class="max-mobile:my-6 my-12 w-full object-contain"
    />

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mt-6 max-mobile:mb-2 mt-12 mb-6">Инсайты по CJM</h3>

      <ul class="flex flex-col gap-2">
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default font-semibold">
            Пользователи ожидают, что будет возможность изменить файлы
            после отправки заявки
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default font-semibold">
            Отмена заявки модератором вызывает сильный стресс
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default font-semibold">
            Интерфейс приходится долго изучать, высокий порог входа
          </p>
        </li>
      </ul>
    </div>

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mt-6 max-mobile:mb-2 mt-12 mb-6">JTBD</h3>

      <ul class="flex flex-col gap-2">
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Когда я нахожусь в регионе и не могу приехать в Москву, я хочу
            дистанционно передать врачу медицинские документы и снимки МРТ/КТ,
            чтобы получить мнение без очного визита.
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Когда я оформляю заявку на дистанционную услугу, я хочу понимать,
            какой шаг прохожу сейчас и что нужно сделать дальше,
            чтобы самостоятельно завершить оформление без звонков
            в техподдержку.
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Когда я отправляю медицинские материалы врачу, я хочу получить
            подтверждение отправки и видеть актуальный статус заявки,
            чтобы понимать, приняты ли документы в работу и на каком этапе
            они находятся.
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Когда я прикладываю снимки и медицинские документы к заявке, я хочу
            заранее понимать требования к файлам и видеть ошибки сразу,
            чтобы не отправить неполную или неподходящую заявку.
          </p>
        </li>
      </ul>
    </div>

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mt-6 max-mobile:mb-2 mt-12 mb-6">Гипотезы</h3>

      <ul class="flex flex-col gap-2">
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Если мы будем отображать статус заявки вместо её закрытия,
            то лояльность пациентов повысится, а также уменьшится количество
            незавершённых заявок.
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Если вынести услугу «Описание и интерпретация КТ,
            МРТ и рентген-снимков» на главнй экран ЛК и оформить сценарий
            как последовательный пошаговый процесс, пользователю будет проще
            найти нужную услугу и самостоятельно дойти до отправки заявки.
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Если показать требования к медицинским документам и снимкам
            до загрузки, а ошибки отображать сразу в интерфейсе, пользователь
            сможет быстрее исправить проблему и не отправит неполную
            или неподходящую заявку.
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Если мы изменим тексты и уберём повторы, то считываемость информации
            увеличится, а количество обращений в техподдержку уменьшится.
          </p>
        </li>
      </ul>
    </div>

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mt-6 max-mobile:mb-2 mt-12 mb-6">
        Приоритизация гипотез
      </h3>

      <p class="text-default max-mobile:mb-2 mb-6">
        Я сформулировала несколько гипотез и оценила их по двум критериям:
        ценность для пользователя и простота реализации.
      </p>

      <p class="text-default mb-1">Брала условные единицы:</p>
      <p class="text-default mb-1">
        1 — низкая ценность, 2 — средняя ценность, 3 — высокая ценность.
      </p>
      <p class="text-default">
        1 — высокая сложность, 2 — средняя сложность, 3 — низкая сложность.
      </p>

      <p class="text-default max-mobile:mt-2 mt-6 mb-1">
        Итоговый приоритет рассчитывался по формуле:
      </p>
      <p class="text-default">ценность × простота реализации.</p>

      <Image
        src={img_6}
        alt="Кейс"
        class="max-mobile:my-2 my-6 w-full object-contain"
      />

      <p class="text-default">
        В связи с высокой сложностью реализации, возможность редактирования
        файлов в заявке после отправки, а также возможность исправления
        имеющейся заявки, без её закрытия будет реализована позже. (приоритет
        3×1=3)
      </p>
    </div>

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mt-6 max-mobile:mb-2 mt-12 mb-6">Дизайн-система</h3>

      <p class="text-default">
        Редизайн произведен c помощью дизайн-системы Taiga UI, потому что 
        <span class="font-semibold">
          сценарий личного кабинета строится вокруг функциональных интерфейсных
          элементов:
        </span>
        форм, селектов, загрузки файлов, статусов, уведомлений, чекбоксов и пошагового
        оформления заявки. В этом кейсе было важно не создавать визуальный стиль с нуля,
        а быстро собрать реалистичный интерфейс, который потенциально можно передать
        в разработку.
      </p>
    </div>

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mt-6 max-mobile:mb-2 mt-12 mb-6">Дизайн-решение</h3>

      <p class="text-default max-mobile:mb-2 mb-6">
        Убираю дублирующиеся с сайтом разделы, оставляю чистый функционал,
        без лишнего информационного шума.
      </p>
      <p class="text-default max-mobile:mb-2 mb-6">
        Разделение на ОМС, платные услуги и типы консультаций заставляет
        пациентов разбираться во внутренней структуре клиники вместо решения
        своей задачи. Основная задача — записаться на приём. Поэтому
        пересмотрены названия разделов. Добавлены бейджи «Бесплатно по ОМС»
        и «Платно».
      </p>
      <p class="text-default max-mobile:mb-2 mb-6">
        Загрузку файлов перенесена в начало, потому что это самый трудный момент
        для пользователей, при ошибке им приходится заново проходить сценарий.
        Также добавила поле ввода для ссылки на облачное хранилище.
      </p>
      <p class="text-default max-mobile:mb-2 mb-6">
        Далее показан основной сценарий получения услуги из 8 экранов. Другие
        состояния, такие как описание ситуации, когда пациент не выбрал врача и
        не подтвердил продолжение сценария с любым назначенным специалистом
        продуманы и описаны в файле проекта в Figma.
      </p>
    </div>

    <Image
      src={img_7}
      alt="Кейс"
      class="max-mobile:my-6 my-12 w-full object-contain"
    />

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mt-6 max-mobile:mb-2 mt-12 mb-6">UX-тест</h3>

      <p class="text-default max-mobile:mb-2 mb-6">
        Собрала интерактивный прототип в Figma и провела UX-тест c
        5 пользователями (та же задача)
      </p>
      <p class="text-default max-mobile:mb-2 mb-6">
        Пользователи успешно выполнили задание без путаницы и ошибок.
      </p>
    </div>

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mb-2 max-mobile:mt-6 mt-12 mb-6">Результаты</h3>

      <p class="text-default max-mobile:mb-2 mb-6">
        Редизайн позволил снизить количество точек напряжения в сценарии
        получения дистанционного заключения.
      </p>

      <ul class="flex flex-col gap-2">
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Пользователи быстрее выбрали нужную услугу, прикрепили документы,
            поняли, как действовать при ограничении по размеру файла.
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Пользователи смогли определить, где отслеживать статус заявки.
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Успешный UX-тест подтверждает, что предложенное решение делает
            сценарий более понятным и снижает риск ошибок на ключевых этапах.
          </p>
        </li>
        <li class="flex gap-2">
          <p class="pt-1.5">
            <ArrowRightIcon class="text-brand-blue" />
          </p>
          <p class="text-default">
            Сценарий загрузки файлов используется и в других услугах в личном
            кабинете, решение применимо и к другим разделам, что повышает
            важность решения этой задачи.
          </p>
        </li>
      </ul>
    </div>

    <div class="mx-auto max-w-184">
      <h3 class="max-mobile:mb-2 max-mobile:mt-6 mt-12 mb-6">
        Что можно улучшить дальше?
      </h3>
      <p class="text-default max-mobile:mb-2 mb-6">
        Предложить разработчикам реализовать возможность изменения текущей
        заявки, добавить статус «на исправлении».
      </p>

      <p class="text-default">
        Продумать раздел уведомлений, важные сообщения показывать в нем.
      </p>

      <CaseFooter />
    </div>
  </section>
</BaseLayout>
