---
import { Image } from 'astro:assets';

interface Props {
  title: string;
  subtitle: string;
  description: string;
  image1: ImageMetadata;
  image2: ImageMetadata;
  href: string;
}

const { title, subtitle, description, image1, image2, href } = Astro.props;
---

<a href={href}>
  <div
    class="border-brand-border2 hover:border-brand-blue cursor-pointer border bg-white p-4 transition-colors"
  >
    <div class="max-mobile:flex-col flex gap-2.5">
      <div
        class="bg-brand-gray2-bg max-mobile:w-full flex aspect-video w-1/2 items-center justify-center"
      >
        <Image src={image1} alt="Кейс" class="w-2/3 object-contain" />
      </div>

      <div class="max-mobile:w-full bg-brand-gray2-bg aspect-video w-1/2">
        <Image src={image2} alt="Кейс" class="w-full object-contain" />
      </div>
    </div>
    <div class="mt-6 flex flex-col gap-2">
      <div class="max-mobile:flex-col-reverse flex gap-3">
        <h3>{title}</h3>
        <h3 class="max-mobile:gap-1 text-brand-gray2 flex gap-3">
          <span>•</span>
          <span>{subtitle}</span>
        </h3>
      </div>
      <p class="text-default max-w-151.5 pb-3">{description}</p>
    </div>
  </div>
</a>
