---
import { Image } from 'astro:assets';

import type { Project } from '@/types';
import { cn } from '@/lib/utils';

interface Props {
  project: Project;
}

const { project } = Astro.props;

const {
  id,
  title,
  subtitle,
  description,
  image1,
  imgWidth,
  gradientColorFrom,
  gradientColorTo,
  externalLink,
  imgPlaceClassName = 'justify-center',
} = project;

const externalLinkParams = externalLink
  ? { target: '_blank', rel: 'noopener noreferrer' }
  : {};
---

<a
  href={externalLink ? externalLink : id}
  id={id}
  class="group block w-full"
  {...externalLinkParams}
>
  <div
    class="border-brand-border2 h-full cursor-pointer border bg-white p-4 transition-colors duration-300"
  >
    <div
      class={cn(
        'bg-brand-gray2-bg relative flex aspect-video items-end overflow-hidden',
        imgPlaceClassName
      )}
    >
      <div
        class="mobile:group-hover:opacity-100 absolute inset-0 opacity-0 transition-opacity duration-300 ease-in-out"
        style=`background-image: linear-gradient(to top, ${gradientColorFrom}, ${gradientColorTo});`
      >
      </div>
      <Image
        src={image1}
        alt="Кейс"
        class="mobile:group-hover:scale-108 z-10 object-contain transition-transform duration-300 ease-in-out"
        style=`width: ${imgWidth}`
      />
    </div>

    <div class="mt-6 flex flex-col gap-2">
      <div class="max-mobile:flex-col-reverse flex gap-3">
        <h3>{title}</h3>
        <h3 class="max-mobile:gap-1 text-brand-gray2 flex gap-3">
          <span>•</span>
          <span>{subtitle}</span>
        </h3>
      </div>
      <p class="text-default pb-3">{description}</p>
    </div>
  </div>
</a>
